In [2]:
import pandas as pd

In [3]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
url = f"{prefix}/yellow_tripdata_2021-01.csv.gz"

In [4]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [13]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [14]:
len(df)

100

In [16]:
df['tpep_dropoff_datetime']

0    2021-01-01 00:36:12
1    2021-01-01 00:52:19
2    2021-01-01 01:11:06
3    2021-01-01 00:31:01
4    2021-01-01 00:48:21
             ...
95   2021-01-01 00:26:47
96   2021-01-01 00:35:03
97   2021-01-01 00:54:25
98   2021-01-01 00:51:44
99   2021-01-01 00:54:41
Name: tpep_dropoff_datetime, Length: 100, dtype: datetime64[ns]

In [5]:
!uv add sqlalchemy

Resolved 120 packages in 0.67ms
Audited 12 packages in 0.14ms

In [6]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [7]:
!uv add psycopg2-binary

Resolved 120 packages in 0.69ms
Audited 12 packages in 0.14ms

In [22]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') # Create empty columns (only schema) without insertions

0

In [ ]:
# df.to_sql(name='yellow_taxi_data', con=engine)

In [9]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000,
)

In [10]:
df_iter

In [11]:
!uv add tqdm

Resolved 120 packages in 0.64ms
Audited 12 packages in 0.14ms

In [12]:
from tqdm.auto import tqdm

In [13]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

In [36]:
# df = next(df_iter)

In [37]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
500000,1,2021-01-13 20:39:01,2021-01-13 20:45:33,0,1.00,1,Y,68,107,1,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
500001,1,2021-01-13 20:53:14,2021-01-13 21:08:14,0,5.70,1,N,107,13,1,18.5,3.0,0.5,4.45,0.0,0.3,26.75,2.5
500002,1,2021-01-13 20:15:39,2021-01-13 20:19:42,2,0.90,1,N,237,162,1,5.5,3.0,0.5,2.00,0.0,0.3,11.30,2.5
500003,1,2021-01-13 20:30:14,2021-01-13 20:33:51,1,1.40,1,N,233,141,1,6.0,3.0,0.5,1.95,0.0,0.3,11.75,2.5
500004,2,2021-01-13 19:52:44,2021-01-13 19:56:19,1,1.46,1,N,233,141,1,6.0,0.5,0.5,1.96,0.0,0.3,11.76,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,2,2021-01-15 22:45:13,2021-01-15 22:48:21,1,0.84,1,N,164,234,2,5.0,0.5,0.5,0.00,0.0,0.3,8.80,2.5
599996,2,2021-01-15 22:50:31,2021-01-15 22:51:10,1,0.33,1,N,90,90,2,3.0,0.5,0.5,0.00,0.0,0.3,6.80,2.5
599997,2,2021-01-15 22:52:14,2021-01-15 23:11:11,1,5.20,1,N,249,49,2,18.0,0.5,0.5,0.00,0.0,0.3,21.80,2.5
599998,1,2021-01-15 22:43:41,2021-01-15 22:58:55,1,3.50,1,N,237,226,1,14.0,3.0,0.5,5.30,0.0,0.3,23.10,2.5
599999,1,2021-01-15 22:23:04,2021-01-15 22:45:59,1,4.60,1,N,142,116,2,18.5,3.0,0.5,0.00,0.0,0.3,22.30,2.5